/* General Reset */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #333;
    background: url(images/dhyanlinga_bg.webp) center / cover no-repeat;
    color: #333;
    overflow-y: hidden;
  }
  
  /* Header Styling */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ddc79e25;
}

@media only screen and (max-width: 600px) {
  header{
    flex-direction: column;
  } 
  
}
@media only screen and (max-width: 370px) {
  header{
    flex-direction: column;
  } 
  header h1{
    font-size: 25px;
  } 
  .sort-container {
    padding: 0 10px;
}
.card-header {
  padding: 15px;
  background-color: hsla(0, 0%, 100%, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  border-radius: 1rem 1rem 0 0;
}
}

header h1 {
  font-size: 24px;
  font-weight: bold;
  color: #444;
  margin: 0;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-container input {
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 0.5rem 0 0 0.5rem;
  outline: none;
  font-size: 14px;
  width: 200px;
}

.search-container button {
  background-color: #189ab4;
  border: none;
  padding: 10px 15px;
  border-radius: 0 .5rem .5rem 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-container button img {
  width: 16px;
  height: 16px;
  filter: brightness(0) invert(1);
}

.filter-section{
  background-color: #97979783;
  border-radius: 0.5rem;
}

/* SortBy Button */
.sort-filter {
  display: flex;
  justify-content: flex-start;
  padding: 10px 20px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #e0e0e0;
}

.btn-img{
  color: #189ab4;
  width: 16px;
  height: 16px;
}
  
.sort-filter button:hover {
  background-color: #9fc8f3;
}

/* Sort Button Styling */
.sort-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 10px 20px;
  padding: 0 30px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0;
  padding: 5px 5px;
  gap:5px;
  font-size: 14px;
  font-weight: bold;
  color: #189ab4;
  /* background-color: #189ab4; */
  border: 1px solid #01a3c4;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #70b2f5;
}

/* filter Dropdown Menu Styling */
.dropdown-filter-menu {
  position: absolute;
  top: 100%;
  right: 44%;
  width: auto;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 5px;
  padding: 0;
  list-style: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: none; /* Hidden by default */
  z-index: 1;
  text-align: center;
}

.dropdown-filter-menu li {
  padding: 10px 15px;
  font-size: 14px;
  color: #444;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdown-filter-menu li:hover {
  background-color: #f1f1f1;
}

.dropdown-filter-menu li:last-child {
  border-bottom: none;
}


/* Dropdown Menu Styling */
.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  /* width: 25vw; */
  width:auto;
  margin-top: 5px;
  padding: 0;
  list-style: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: none; /* Hidden by default */
  z-index: 1;
}

.dropdown-menu li {
  padding: 10px 15px;
  font-size: 14px;
  color: #444;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: #f1f1f1;
}

.dropdown-menu li:last-child {
  border-bottom: none;
}

.asc{
  background-color: #e4d720;
}
  
  /* Card Container */
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-height: 80%; 
    padding: 0 10px  25px 10px;
    margin: 0px 10px;
    /* box-sizing: border-box; */
  }

  .cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
  }
  
  .card {
    background-color: hsla(0, 0%, 100%, 0.527);
    border-radius: 1rem; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease-in-out;
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    /* background-color: #fff; */
  }
  
  
  .card-header {
    padding: 15px;
    background-color: #ddeff580;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem 1rem 0 0;
  }
  
  .card-header h2 {
    margin: 0;
    font-size: 18px;
    color: #444;
  }
  
  .card-header .chakra {
    font-size: 12px;
    background-color: #e4d720;
    padding: 5px 10px;
    border-radius: 1rem;
    text-transform: uppercase;
    color: #333;
  }
  
  .card-main-body {
    background-color: #ffffff70;
    border-radius: 0.4rem;
  }
  .card-body {
    background-color: #ddeff580;
    height: 10rem;
  }
  
  .card-body p {
    padding: 0.5rem;
    margin: 10px 0;
    font-size: 14px;
    color: #222222;
    font-size: medium;
  }
  
  .card-footer {
    padding: 15px;
    background-color: #ddeff580;
    border-top: 1px solid #e0e0e0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 1rem 1rem;
  }

  .scroll {
    width: 100%; /* Adjust to your layout needs */
    max-height: 75vh; /* Limit the height to control the scroll area */
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Prevent horizontal scrolling */
    border: 1px solid #ccc; 
    
    padding: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add shadow */
  }
  .listen-link {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
  }
  
  .listen-link:hover {
    text-decoration: underline;
  }
  
  .status-not-started-yet {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    font-size: 14px;
    cursor: pointer;
    background-color: rgba(224, 12, 12, 0.75);
  }
  /* styling for status progress of user */
  /* green when status completed */
  .status-completed{
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    font-size: 14px;
    cursor: pointer;
    background-color: rgba(5, 173, 5, 0.75);
  }
  /* yellow when status InProgress */
  .status-in-progress{
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    font-size: 14px;
    cursor: pointer;
    background-color: hsla(43, 74%, 49%, 0.75);
  }
  /* red when status not started */
  /* .status-not-started-yet {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    font-size: 14px;
    cursor: pointer;
    background-color: rgba(224, 12, 12, 0.5);
  } */
  
  
/* highlight search bar */

.highlight {
  background-color: yellow;
  font-weight: bold;
  padding: 2px 4px;
  border-radius: 4px;
}

.modal-container{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  display: none;
  z-index: 3;
}
.reset-modal{
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 0.5rem;
}
.reset-modal p{
  text-align: center;
  padding: 0 20px;
}
.modal-header{
  background: #5988ee;
  border-radius: 0.5rem 0.5rem 0 0;
  height: 3rem;
  text-align: center;
}
.modal-footer{
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0 0 5px 0;
}
.footer-btn{
  width: 3rem;
}

/* Cards styling (optional) */

.card:hover {
  transform: scale(1.02); /* Optional: Add a hover effect */
}

/* Hide scrollbars for aesthetic purposes (optional) */
.card-main-body.scroll::-webkit-scrollbar {
  width: 0.5rem; /* Adjust scrollbar width */
}

.card-main-body.scroll::-webkit-scrollbar-thumb {
  background-color: #ccc; /* Scrollbar thumb color */
  border-radius: 0.25rem;
}

.card-main-body.scroll::-webkit-scrollbar-track {
  border-radius: 5rem;
  background-color: #ffffff28; /* Scrollbar track color */
}


.backdrop{
  display: none;
  position:fixed;
  height: 100vh;
  width: 100vw;
  background-color: #767577e3;
  z-index: 2;
}